@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.nav {
  background-color: #FFF3F3;
}

.footer-top-text {
  
  left: 12.57%;
  right: 64.03%;
  top: 11.27%;
  bottom: 67.61%;
  
  font-family: Caveat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  
  color: #000000;
}

.footer-bottom-text {
  
  left: 13.12%;
  right: 62.01%;
  top: 36.69%;
  bottom: 27.81%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  text-transform: capitalize;

  color: #000000;
}

.footer-button {
  
  left: 48.4%;
  right: 44.24%;
  top: 25.44%;
  bottom: 14.79%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}



.nav-bar {
  left: 65.9%;
  right: 26.94%;
  top: 28.12%;
  bottom: 25%;

  font-family: Caveat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;

  color: #000000;
}




.contact-us-text-body {
  left: 5.35%;
  right: 54.03%;
  top: 19.1%;
  bottom: 10.91%;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  
  color: #000000;
}

.contact-us-text-body input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #FC46AA ;
  transform: rotate(0.23deg);
}
.contact-us-text-body textarea {
  border: 0;
  outline: 0;
  background: transparent;
  border: 1px solid #FC46AA ;
  border-radius: 5%;
  transform: rotate(0.23deg);
  resize: none;
}
.contact-us-map {
  left: 50.97%;
  right: 2.02%;
  top: 3.05%;
  bottom: 3.21%;
  text-align: center;
}
.contact-us-map img {
  height: 300px;
  width: 300px;
}



.about-us {
  background-color: #FFF3F3;
}

.about-us-cat {
  
  left: -4.24%;
  right: 59.79%;
  top: 7.05%;
  bottom: -4.09%;

  
}
.about-us-cat img {
  border-radius: 50%;
}

.about-us-text {

}

.about-us-text-heading {
  text-align: center;
  left: 62.15%;
  right: 30.07%;
  top: 12.5%;
  bottom: 77.27%;

  font-family: Caveat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: capitalize;

  color: #FC46AA;
}

.about-us-text-body {
  left: 43.47%;
  right: 11.39%;
  top: 31.14%;
  bottom: 17.5%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;

  color: #000000;
}


.adoption-heading {

  font-family: Caveat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;

  color: #000000;
}


.table-heading {
  
  font-family: Caveat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  
  color: #FC46AA;
}

.adoption-body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}
.adoption-body img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.table > tbody > tr > td {
  vertical-align: middle;
  text-align: center;
}


.learn-more button {
  left: 58.12%;
  right: 30%;
  top: 37.5%;
  bottom: 37%;

  background: #FFF3F3;
  border-radius: 15px;

  font-family: Caveat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  color: #FC46AA;
}
.adopt-me button {
  left: 72.64%;
  right: 15.49%;
  top: 37.5%;
  bottom: 37%;

  background: #FC46AA;
  border-radius: 15px;

  font-family: Caveat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;

  margin-left: 10px;
  margin-right: 5px;
 
}
.adopt-me i {
  margin-left: 5px;
  margin-right: 5px;
}


.home {
  

}
.home img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-align: center;
  display: }
.home-heading-out {
  
}
.home-heading {

  font-family: Montserrat;
  
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #000000;
  margin-top: 50px;
}
.home-heading button {
  
  align-items: flex-start;
  padding: 10px 113px;
  background: #FFF3F3;
  border: 1px solid #FC46AA;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: Caveat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}


.home-body-heading {
  width: 173px;
  height: 45px;
  left: 82px;
  top: 637px;

  font-family: Caveat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;

  color: #000000;
}
.home-body p {
  text-align: center;
}